In [21]:
import pandas as pd
import re

In [14]:
df = pd.read_csv('/home/eduardo/Desktop/MARVL/transcripts/yt-get-to-the-c-suite.txt', header=None)

In [15]:
df

                                                     0
0                                                 0:00
1    um today's content I'm super excited for so um...
2                                                 0:06
3    In everybody nice to meet you my name is Evan ...
4                                                 0:14
..                                                 ...
991  works still hop on that one on Thursday I'm su...
992                                              50:42
993  speakers on there um I had a prep call with th...
994                                              50:49
995  Thursday but um thank you all for tuning in today

[996 rows x 1 columns]

In [28]:
df['sentence'] = df[1::2]

ValueError: Columns must be same length as key

In [31]:
df

,0,sentence
0,0:00,NaN
1,um today's content I'm super excited for so um...,um today's content I'm super excited for so um...
2,0:06,NaN
3,In everybody nice to meet you my name is Evan ...,In everybody nice to meet you my name is Evan ...
4,0:14,NaN
...,...,...
991,works still hop on that one on Thursday I'm su...,works still hop on that one on Thursday I'm su...
992,50:42,NaN
993,speakers on there um I had a prep call with th...,speakers on there um I had a prep call with th...
994,50:49,NaN
995,Thursday but um thank you all for tuning in today,Thursday but um thank you all for tuning in today

In [39]:
df['startTime'] = df[0][0::2]

In [40]:
df

,0,sentence,startTime
0,0:00,NaN,0:00
1,um today's content I'm super excited for so um...,um today's content I'm super excited for so um...,NaN
2,0:06,NaN,0:06
3,In everybody nice to meet you my name is Evan ...,In everybody nice to meet you my name is Evan ...,NaN
4,0:14,NaN,0:14
...,...,...,...
991,works still hop on that one on Thursday I'm su...,works still hop on that one on Thursday I'm su...,NaN
992,50:42,NaN,50:42
993,speakers on there um I had a prep call with th...,speakers on there um I had a prep call with th...,NaN
994,50:49,NaN,50:49
995,Thursday but um thank you all for tuning in today,Thursday but um thank you all for tuning in today,NaN

In [56]:
sentences = df['sentence'].dropna().reset_index(drop=True)

In [58]:
start_times = df['startTime'].dropna().reset_index(drop=True)

In [59]:
print(sentences.shape)
print(start_times.shape)

(498,)
(498,)

In [57]:
sentences

0      um today's content I'm super excited for so um...
1      In everybody nice to meet you my name is Evan ...
2      at drift um and been here about five years uh ...
3      this c-suite faster we have an amazing list of...
4      that with us today um before I pass over to Br...
                             ...
493    present and ask questions we have an upcoming ...
494    um that's on a sales Leader's guide to a kille...
495    works still hop on that one on Thursday I'm su...
496    speakers on there um I had a prep call with th...
497    Thursday but um thank you all for tuning in today
Name: sentence, Length: 498, dtype: object

In [60]:
start_times

0       0:00
1       0:06
2       0:14
3       0:19
4       0:25
       ...
493    50:22
494    50:28
495    50:35
496    50:42
497    50:49
Name: startTime, Length: 498, dtype: object

In [62]:
pd.concat([sentences, start_times], axis=1)

                                              sentence startTime
0    um today's content I'm super excited for so um...      0:00
1    In everybody nice to meet you my name is Evan ...      0:06
2    at drift um and been here about five years uh ...      0:14
3    this c-suite faster we have an amazing list of...      0:19
4    that with us today um before I pass over to Br...      0:25
..                                                 ...       ...
493  present and ask questions we have an upcoming ...     50:22
494  um that's on a sales Leader's guide to a kille...     50:28
495  works still hop on that one on Thursday I'm su...     50:35
496  speakers on there um I had a prep call with th...     50:42
497  Thursday but um thank you all for tuning in today     50:49

[498 rows x 2 columns]