In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('/home/eduardo/Desktop/MARVL/transcripts/yt-get-to-the-c-suite.txt', header=None)

In [3]:
df

                                                     0
0                                                 0:00
1    um today's content I'm super excited for so um...
2                                                 0:06
3    In everybody nice to meet you my name is Evan ...
4                                                 0:14
..                                                 ...
991  works still hop on that one on Thursday I'm su...
992                                              50:42
993  speakers on there um I had a prep call with th...
994                                              50:49
995  Thursday but um thank you all for tuning in today

[996 rows x 1 columns]

In [4]:
df['sentence'] = df[1::2]

In [5]:
df

,0,sentence
0,0:00,NaN
1,um today's content I'm super excited for so um...,um today's content I'm super excited for so um...
2,0:06,NaN
3,In everybody nice to meet you my name is Evan ...,In everybody nice to meet you my name is Evan ...
4,0:14,NaN
...,...,...
991,works still hop on that one on Thursday I'm su...,works still hop on that one on Thursday I'm su...
992,50:42,NaN
993,speakers on there um I had a prep call with th...,speakers on there um I had a prep call with th...
994,50:49,NaN
995,Thursday but um thank you all for tuning in today,Thursday but um thank you all for tuning in today

In [6]:
df['startTime'] = df[0][0::2]

In [7]:
df

,0,sentence,startTime
0,0:00,NaN,0:00
1,um today's content I'm super excited for so um...,um today's content I'm super excited for so um...,NaN
2,0:06,NaN,0:06
3,In everybody nice to meet you my name is Evan ...,In everybody nice to meet you my name is Evan ...,NaN
4,0:14,NaN,0:14
...,...,...,...
991,works still hop on that one on Thursday I'm su...,works still hop on that one on Thursday I'm su...,NaN
992,50:42,NaN,50:42
993,speakers on there um I had a prep call with th...,speakers on there um I had a prep call with th...,NaN
994,50:49,NaN,50:49
995,Thursday but um thank you all for tuning in today,Thursday but um thank you all for tuning in today,NaN

In [8]:
sentences = df['sentence'].dropna().reset_index(drop=True)

In [9]:
start_times = df['startTime'].dropna().reset_index(drop=True)

In [10]:
print(sentences.shape)
print(start_times.shape)

(498,)
(498,)

In [11]:
sentences

0      um today's content I'm super excited for so um...
1      In everybody nice to meet you my name is Evan ...
2      at drift um and been here about five years uh ...
3      this c-suite faster we have an amazing list of...
4      that with us today um before I pass over to Br...
                             ...
493    present and ask questions we have an upcoming ...
494    um that's on a sales Leader's guide to a kille...
495    works still hop on that one on Thursday I'm su...
496    speakers on there um I had a prep call with th...
497    Thursday but um thank you all for tuning in today
Name: sentence, Length: 498, dtype: object

In [12]:
start_times

0       0:00
1       0:06
2       0:14
3       0:19
4       0:25
       ...
493    50:22
494    50:28
495    50:35
496    50:42
497    50:49
Name: startTime, Length: 498, dtype: object

In [13]:
pd.concat([sentences, start_times], axis=1).to_csv('test.csv', index=False)

In [14]:
def format_transcript(filepath, name):
    """
    Function that loads a text file that contains Youtube transcript data. File must follow the formatting below:
        <timestamp>
        <sentence>
        <timestamp>
        <sentence>
    
    Args:
        filepath: path to the '.txt' file containing the transcript. Include the file name in the path. 
        filename: name for the output '.csv' file. Include '.csv' in the name. 
        
    Returns: 
        '.csv' file with a 'sentence' column containing text, and 'startTime' column containing a string with
        time information
    """
    # Load libraries 
    import pandas as pd
    
    # Load the text file
    df = pd.read_csv(filepath, header=None)
    
    # Slice sentences and timestamps only 
    df['sentence'] = df[1::2]
    df['startTime'] = df[0][0::2]
    
    # Create new dfs with only sentences
    sentences = df['sentence'].dropna().reset_index(drop=True)
    start_times = df['startTime'].dropna().reset_index(drop=True)
    
    # Merge sentences and start_times
    f_transcript = pd.concat([sentences, start_times], axis=1)
    
    # Export to a '.csv'
    f_transcript.to_csv(name, index=False)

In [15]:
# Assign directory
directory = '/home/eduardo/Desktop/MARVL/transcripts/'

# Iterate over files in that directory 
for filename in os.listdir(directory):
    
    f = os.path.join(directory, filename)

    # Checking if it is a file
    if os.path.isfile(f):
        print(f)

/home/eduardo/Desktop/MARVL/transcripts/yt-how-top-reps-run-their-discovery-calls.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-impact-questions.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-best-cold-call-strategy.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-how-to-handle-sales-objections.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-generate-more-leads-linkedin.txt
/home/eduardo/Desktop/MARVL/transcripts/Get to the C-Suite Faster How to Navigate Unpredictable Sales Cycles in 2023_otter_ai.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-get-to-the-c-suite.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-create-urgency.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-cold-prospecting-masterclass.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-why-prospects-ignore-you.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-write-linkedin-messages-to-connect.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-how-to-be-professionally-persistent-wt-being-annoying.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-help-team-maximize-opportunities.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-handle-any-sales-objections.txt
/home/eduardo/Desktop/MARVL/transcripts/yt-how-to-write-a-cold-email.txt

In [25]:
format_transcript('/home/eduardo/Desktop/MARVL/transcripts/yt-get-to-the-c-suite.txt', 'get-to-c-suite.csv')